In [ ]:
# Dictionary
# -Indexed
# -duplicate members
# -ordered
# -mutable
# -no duplicate index

In [ ]:
a = {}
b = dict()
print(a)
print(b)

{}
{}

In [ ]:
# a = {<Key>:<value>,<key>:<value>,...}

In [ ]:
a = {'A':"Apple","B":"Ball"}
b = {1:"Apple",2:"Ball"}
# c = ["Apple","Ball"]
print(b[1])

Apple

In [ ]:
a = {'a':'apple','A':'apple'}
a

{'a': 'apple', 'A': 'apple'}

In [ ]:
a = {'a':'apple','a':'Apple'}
a

{'a': 'Apple'}

In [ ]:
a = {'a':"Apple"}
a['a'] = 'Ant'
a

{'a': 'Ant'}

In [ ]:
a = {}
a['a'] = 'apple'
a['b'] = 'ball'
a

{'a': 'apple', 'b': 'ball'}

In [ ]:
a = {}
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    a[i] = x
print(a)

Enter n = 2
Enter x = Apple
Enter x = Ball
{0: 'Apple', 1: 'Ball'}

In [ ]:
a = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter Phone = "))
    
    a[name] = phone
print(a)

Enter n = 2
Enter name = Ram
Enter Phone = 9867576765
Enter name = Shyam
Enter Phone = 9857657
{'Ram': 9867576765, 'Shyam': 9857657}

In [ ]:
for i in a:
    print(i)

Ram
Shyam

In [ ]:
for i in a.values():
    print(i)

9867576765
9857657

In [ ]:
for i in a.items():
    print(i)

('Ram', 9867576765)
('Shyam', 9857657)

In [ ]:
l = []
for i in a.items():
    l.append(i)
print(l)

[('Ram', 9867576765), ('Shyam', 9857657)]

In [ ]:
d = {}
a = [('Ram', 9867576765), ('Shyam', 9857657)]
for i in a:
    key = i[0]
    value = i[1]
    d[key] = value
print(d)

{'Ram': 9867576765, 'Shyam': 9857657}

In [ ]:
a = {1:"Apple",2:"Ball"}
a*2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [ ]:
a = {1:"Apple",2:"Ball"}
b = {"1":"AA"}
b.update(a)

In [ ]:
b

{'1': 'AA', 1: 'Apple', 2: 'Ball'}

In [ ]:
b = {'1': 'AA', 1: 'Apple', 2: 'Ball'}
del b[1]
b

{'1': 'AA', 2: 'Ball'}

In [ ]:
b = {1:"Apple",2:"Ball",3:"cat"}
del b[1:2]

TypeError: unhashable type: 'slice'

In [ ]:
b = {1:"Apple",2:"Ball",3:"cat"}
c = b.pop(2)
print(b)
print(c)

{1: 'Apple', 3: 'cat'}
Ball

In [ ]:
b.clear()
print(b)

{}

In [ ]:
a = {"a":[]} 
b = {"a":()}
c = {"a":{}}

In [ ]:
a = {("Apple","Ball"):"a"}
a

{('Apple', 'Ball'): 'a'}

In [ ]:
# list inside dicts
a = {"a":["apple","ant"]} 
print(a["a"])
print(a["a"][0])

['apple', 'ant']
apple

In [ ]:
a = {"a":["apple","ant"]} 
a["a"].append("Apple")
print(a)

{'a': ['apple', 'ant', 'Apple']}

In [ ]:
b = {1:"Apple",2:"Ball",3:"Cat"}
c = b.pop(2)
b

{1: 'Apple', 3: 'Cat'}

In [ ]:
b[2]=c
print(b)

{1: 'Apple', 3: 'Cat', 2: 'Ball'}

In [ ]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc no = "))
    ncell = int(input("Enter ncell no = "))
    d[i] = [name,ntc,ncell]      #point to remember
    
print(d)

Enter n = 2
Enter name = Ram
Enter ntc no = 98789789
Enter ncell no = 987987898
Enter name = Syam
Enter ntc no = 98890809
Enter ncell no = 897897
{0: ['Ram', 98789789, 987987898], 1: ['Syam', 98890809, 897897]}

In [ ]:
for i in d.values():
    if "Ram" in i:
        print(i)

['Ram', 98789789, 987987898]

In [1]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc no = "))
    ncell = int(input("Enter ncell no = "))
    d[i] = (name,ntc,ncell)   #point to remember
    
print(d)

Enter n = 2
Enter name = sdf
Enter ntc no = 234
Enter ncell no = 123
Enter name = wer
Enter ntc no = 123
Enter ncell no = 234
{0: ('sdf', 234, 123), 1: ('wer', 123, 234)}

In [ ]:
#dictionary inside dictionary
# d = {<Key>:{<key>:<value>},...}
d = {"Ram":{"Ncell":98878768,"Ntc":98765576},
    "Shyam":{"Ncell":98776776,"Nct":98765676}}
d

{'Ram': {'Ncell': 98878768, 'Ntc': 98765576},
 'Shyam': {'Ncell': 98776776, 'Nct': 98765676}}

In [ ]:
for i in d.values():
    print(i)

{'Ncell': 98878768, 'Ntc': 98765576}
{'Ncell': 98776776, 'Nct': 98765676}

In [ ]:
for i in d.items():
    print(i)

('Ram', {'Ncell': 98878768, 'Ntc': 98765576})
('Shyam', {'Ncell': 98776776, 'Nct': 98765676})

In [ ]:
print(d)
print(d["Ram"])
print(d["Ram"]["Ncell"])

{'Ram': {'Ncell': 98878768, 'Ntc': 98765576}, 'Shyam': {'Ncell': 98776776, 'Nct': 98765676}}
{'Ncell': 98878768, 'Ntc': 98765576}
98878768

In [ ]:
data = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ncell = input("Enter ncell = ")
    ntc = input("Enter ntc = ")
    v = {"ncell":ncell,"ntc":ntc}
    data[name] = v    #point to remember
print(data)

Enter n = 2
Enter name = sfdf
Enter ncell = 23423
Enter ntc = 2423434
Enter name = dfsfds
Enter ncell = 234234
Enter ntc = 234234
{'sfdf': {'ncell': '23423', 'ntc': '2423434'}, 'dfsfds': {'ncell': '234234', 'ntc': '234234'}}

In [ ]:
a = {'Ram': {'Ncell': 98878768, 'Ntc': 98765576}, 
     'Shyam': {'Ncell': 98776776, 'Nct': 98765676}}
a['Ram']['Ntc'] = 9876765
a

{'Ram': {'Ncell': 98878768, 'Ntc': 9876765},
 'Shyam': {'Ncell': 98776776, 'Nct': 98765676}}

In [ ]:
a['Ram']['Land'] = 4456556
a

{'Ram': {'Ncell': 98878768, 'Ntc': 9876765, 'Land': 4456556},
 'Shyam': {'Ncell': 98776776, 'Nct': 98765676}}

In [ ]:
# a = [{<key>:<value>},{<key>:<value>}]

In [ ]:
a = [{"title":"Glass","price":350,"description":"good glass","discounted_price":100,"status":"In","label":"hot","image":"http://127.0.0.1:8000/media/media/top_10_symbolic_chinese_foods__from_fish_to_fowl02846bb27ede533c3513.jpg","category":3,"brand":1},{"title":"T shirt","price":1000,"description":"cool fashion","discounted_price":999,"status":"In","label":"hot","image":"http://127.0.0.1:8000/media/https%3A/static-01.daraz.com.np/p/0508473781e3ea5ebbafdec2b13c8d75.jpg_170x170q80-product.jpg_.webp","category":3,"brand":1},{"title":"Head Phone","price":2000,"description":"This head phone have good sound quality.","discounted_price":1999,"status":"In","label":"new","image":"http://127.0.0.1:8000/media/media/chinese.jpg","category":1,"brand":1},{"title":"Acer laptop","price":350,"description":"dsddasdas","discounted_price":0,"status":"In","label":"new","image":"http://127.0.0.1:8000/media/media/soup_pNgz9Jg.jpg","category":1,"brand":1}]

In [ ]:
for i in a:
    print(i["title"],i['price'])

Glass 350
T shirt 1000
Head Phone 2000
Acer laptop 350

In [ ]:
a = [{"title":"Glass","price":350,"description":"good glass","discounted_price":100,"status":"In","label":"hot","image":"http://127.0.0.1:8000/media/media/top_10_symbolic_chinese_foods__from_fish_to_fowl02846bb27ede533c3513.jpg","category":3,"brand":1},
     {"title":"T shirt","price":1000,"description":"cool fashion","discounted_price":999,"status":"In","label":"hot","image":"http://127.0.0.1:8000/media/https%3A/static-01.daraz.com.np/p/0508473781e3ea5ebbafdec2b13c8d75.jpg_170x170q80-product.jpg_.webp","category":3,"brand":1},
     {"title":"Head Phone","price":2000,"description":"This head phone have good sound quality.","discounted_price":1999,"status":"In","label":"new","image":"http://127.0.0.1:8000/media/media/chinese.jpg","category":1,"brand":1},
     {"title":"Acer laptop","price":350,"description":"dsddasdas","discounted_price":0,"status":"In","label":"new","image":"http://127.0.0.1:8000/media/media/soup_pNgz9Jg.jpg","category":1,"brand":1}]
b = {"title":"Dell laptop","price":35000,"description":"dsddasdas","discounted_price":0,"status":"In","label":"new","image":"soup_pNgz9Jg.jpg","category":1,"brand":1}
a.append(b)

In [ ]:
print(a)

[{'title': 'Glass', 'price': 350, 'description': 'good glass', 'discounted_price': 100, 'status': 'In', 'label': 'hot', 'image': 'http://127.0.0.1:8000/media/media/top_10_symbolic_chinese_foods__from_fish_to_fowl02846bb27ede533c3513.jpg', 'category': 3, 'brand': 1}, {'title': 'T shirt', 'price': 1000, 'description': 'cool fashion', 'discounted_price': 999, 'status': 'In', 'label': 'hot', 'image': 'http://127.0.0.1:8000/media/https%3A/static-01.daraz.com.np/p/0508473781e3ea5ebbafdec2b13c8d75.jpg_170x170q80-product.jpg_.webp', 'category': 3, 'brand': 1}, {'title': 'Head Phone', 'price': 2000, 'description': 'This head phone have good sound quality.', 'discounted_price': 1999, 'status': 'In', 'label': 'new', 'image': 'http://127.0.0.1:8000/media/media/chinese.jpg', 'category': 1, 'brand': 1}, {'title': 'Acer laptop', 'price': 350, 'description': 'dsddasdas', 'discounted_price': 0, 'status': 'In', 'label': 'new', 'image': 'http://127.0.0.1:8000/media/media/soup_pNgz9Jg.jpg', 'category': 1, 'brand': 1}, {'title': 'Dell laptop', 'price': 35000, 'description': 'dsddasdas', 'discounted_price': 0, 'status': 'In', 'label': 'new', 'image': 'soup_pNgz9Jg.jpg', 'category': 1, 'brand': 1}]

In [ ]:
#wap of data entry program with crud operation
#how to search in dictionary inside list

In [4]:
#wap of data entry program of department store with crud operation

data = {}
n=int(input("how many entities are there ="))
for i in range(n):
  name = input("what is your name =")
  product = input("your product name is =")
  price = int(input("your product price is ="))
  quantity = int(input("your quantity of your product is ="))
  quantity_number = int(input("your quantity is ="))
  total = price * quantity
  v = {"product":price,"quantity":quantity_number,"total":total}
  data[name] = v
print(data)

how many entities are there =1
what is your name =Akash
your product name is =soap
your product price is =20
your quantity of your product is =2
your quantity is =2
{'Akash': {'product': 20, 'quantity': 2, 'total': 40}}